body{
    margin: 0;
    font-family: "Bubbler One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f2ede6;
       
}

/*header*/


.header{
    background-color: #EFE7DA;
    border: 4px solid rgb(127, 117, 105) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 50px 0 0 0;
    
}

.link{
    background-color: #F8F4EE;
    border: 2px solid  rgb(129, 119, 107);
    padding: 15px;
    margin: 20px;
    border-radius: 50px 0px 50px 50px;  
}

.logo{
    width: 100px;
    border-radius: 20px;
    
}

.link a{
    color: black;
    padding: 0 25px;
    text-decoration: none;
}

.link a:hover{
    color: #e4cfad;   
}

.link button{
    background-color: #e4cfad;
    border-color: #EFE7DA;
    border-radius: 20px;
    padding: 5px 15px;
    font-family: "Bubbler One", sans-serif;
}

.btn{
    background-color: #e4cfad;
    border-color: #EFE7DA;
    border-radius: 20px;
    padding: 5px 15px;
    font-family: "Bubbler One", sans-serif;

}

.btn:hover{
  background-color: #eee1ce;  
}



.link input{
    border-radius: 50px;
    outline: none;
    height: 23px;
    padding: 0 10px;  
}

.link input:hover{
    background-color: #EFE7DA;
}

textarea{
    resize: vertical;
   
  }

/*left column*/

.left{
    width: 400px;
    height: auto ;
    background-color: #EFE7DA;
    border: 4px solid  rgb(129, 119, 107);
    color: black;
    padding-top: 100px;
    padding-left: 49px;
    padding-bottom:10px ; 
    margin-top: 0.5%;
    border-radius: 0px 50px 50px 0px; 
    
}

.pho{
    height: 250px;
    width: 300px;
    background-color: #eae6e0;
    border: 4px solid rgb(127, 117, 105) ;
    border-radius: 25%  25%;
   
}

.pho img {
   
    width: 165px;
    height: 150px;
    border-radius: 40%;
    background-color: #EFE7DA;
    border: 2px outset rgb(129, 119, 107);
    margin-top: 2.32% ;
    margin-left: 30px;
    margin-top:30px ;
    
 }
 .pho button{
    background-color: #e1dacf;
    margin-left: 100px;
   
  }

 

.infor{
    border-radius: 50px;
    outline: none;
    height: 23px;
    padding: 5px 10px ;
    width: 60%;
}

.infor:hover{
    background-color: #ece8e2;
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

  .cont img{
    width: 50px;
    border-radius: 20px;
   
  }

  .right {
    width: 900px;
    height: auto;
    background-color: #EFE7DA;
    border: 4px solid  rgb(129, 119, 107);
    text-align: center;
    position: absolute;       
    top: 150px;               
    right: 50px; 
    padding-left: 59px;
    padding-top: 3%;
    border-radius: 50px 50px 50px 50px;
}

.fg {
    display: flex;
    justify-content: space-between; 
    gap: 30px;
}

.gch, .dte {
    width: 48%;                  
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.edu, .exp, .lang, .dip1, .dip2, .dip3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.skil {
    margin-top: 30px;
}
.skil textarea {
    height: 90px;
    min-height: 90px;
    padding: 20px;
}

  
