body{
    margin: 0;
    font-family: "Bubbler One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F8F4EE;
       
}

/*header*/


.header{
    background-color: #EFE7DA;
    border: 4px solid rgb(127, 117, 105) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0px 0px 0px 50px;
    margin-left: 300px;
   
}

.link{
    background-color: #F8F4EE;
    border: 2px solid  rgb(129, 119, 107);
    padding: 15px;
    margin: 20px;
    border-radius: 50px 0px 50px 50px;     
}



.link a{
    color: black;
    padding: 0 25px;
    text-decoration: none;

}

.link a:hover{
    color: #e4cfad;
    
}

.btn{
    background-color: #e4cfad;
    border-color: #EFE7DA;
    border-radius: 20px;
    padding: 5px 15px;
    font-family: "Bubbler One", sans-serif;

}

.btn:hover{
  background-color: #F8F4EE;  
}



.link input{
    border-radius: 50px;
    outline: none;
    height: 23px;
    padding: 0 10px;
}

.link input:hover{
    background-color: #EFE7DA;
}



.dashboard {
    display: flex;
    height: 700px;
   
  }
  
  /* Sidebar */
  .sidebar {
    width: 230px;
    background-color: #EFE7DA;
    border: 4px solid  rgb(129, 119, 107);
    color: black;
    padding-left: 49px;
    border-radius: 0px 50px 50px 0px; 
    height: 705px;
   } 
  
  .logo { 
    width: 100px;
    border-radius: 20px;       
    padding-bottom: 50px;
  }


  .sidebar a{
    color: black;
    text-decoration: none;
    flex-direction: column;   
    color: black;
    padding: 0 25px;
    text-decoration: none;
  }

  .sidebar a:hover{
    color: #e4cfad;
  }

  .sidebar button{
    color: black;
    text-decoration: none;
    flex-direction: column;

  }

  .sidebar li{
    padding-top:50px ;
    margin-bottom: 20px;
  }


  /*ctn principale*/


 .profile-card{
    width: 900px;
    height: 690px;
    
    background-color: #EFE7DA;
    border: 4px solid  rgb(129, 119, 107);
    text-align: center;
    position: absolute;       
    top: 150px;               
    left: 315px; 
    border-radius: 50px 50px 50px 50px; 


 }

 .prof-pho img {
    width: 150px;
    height: 150px;
    border-radius: 40%;
    border: 2px outset rgb(129, 119, 107);
    margin-top: 2.32% ;
    
 }
 .prof-pho button{
   background-color: #e1dacf;
 }


 .f-cont{
    display: flex;
    justify-content: space-between;
    margin-top:20px ;
}

.f-g{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 32%;
}

.field{
  padding-top:50px ;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.field input:hover{
    background-color: #f3e8e8;
}


.field input{
  width: 160px;
  height: 23px;
  border-radius: 50px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.field button{
  height: 23px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
}


.tx{
  flex-direction: row;
}

/*info*/

/*abt*/

.abt{
    background-color: #EFE7DA;
    border: 4px solid  rgb(129, 119, 107);
    text-align: center;
    position: absolute;       
    border-radius: 50px 0px 0px 50px; 
    height: auto;
    min-height: 100%;
    width: 270px;       
    top: 137px;              
    right: 0px; 
    padding: 0.3%;
    
    
}

.abt-header{
    text-align: center;
    margin-bottom: 20px;
}
 
.prn{
    width: 80%;
    height: 270px;
    min-height:120px;
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;
    resize: vertical;  

}


.prn:hover{
    background-color: #f3e8e8;
}

/*members*/

.memb input{
  width: 80%;
  height: 23px;
  border-radius: 50px;
  padding: 1% 10px;
  display: inline-block;
  vertical-align: middle;
}

.memb input:hover{
    background-color: #f3e8e8;
}
