body{
    margin: 0;
    font-family: "Bubbler One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    background-color: #f2ede6;     
}

/*header*/


.header{
    background-color: #EFE7DA;
    border: 4px solid rgb(127, 117, 105) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 50px 0 0 0;  
}

.link{
    background-color: #F8F4EE;
    border: 2px solid  rgb(129, 119, 107);
    padding: 15px;
    margin: 20px;
    border-radius: 50px 0px 50px 50px;  
}

.logo{
    width: 100px;
    border-radius: 20px;   
}

.link a{
    color: black;
    padding: 0 25px;
    text-decoration: none;
}

.link a:hover{
    color: #e4cfad;   
}

.link button{
    background-color: #e4cfad;
    border-color: #EFE7DA;
    border-radius: 20px;
    padding: 5px 15px;
    font-family: "Bubbler One", sans-serif;
}

.btn{
    background-color: #e4cfad;
    border-color: #EFE7DA;
    border-radius: 20px;
    padding: 5px 15px;
    font-family: "Bubbler One", sans-serif;
}

.btn:hover{
  background-color: #eee1ce;  
}

.link input{
    border-radius: 50px;
    outline: none;
    height: 23px;
    padding: 0 10px;  
}

.link input:hover{
    background-color: #EFE7DA;}

    /*galerie*/

h1,h2{
    text-align: center;
}

.all {
    background-color: #EFE7DA;
    border: 4px solid rgb(127, 117, 105) ; 
    border-radius: 50px;
    
    width: 50%;
    height: 500px;
    padding-top: 3%;
    padding-left: 10px;
    margin-left: 3%;

    position: absolute;
    top: 45%;
    left: 20%;}


 form{

    display: flex;
    flex-direction: column;
    gap: 25px;
   
}

.int {
    border-radius: 50px;
    
    padding:10px; 
    width: 70%;
}

.int:hover{
    background-color: #efece7;
}
textarea{
        resize: vertical;
       
      }

.gal{
    position: absolute;
    top: 925px;
    left: 700px;
}